{% extends '/base.html.twig' %}

{% block body %}
    <h1>List of Series !</h1>
    <section class="series-list">
        {% for serie in series %}
            <a href="{{ path('serie_show', {'id': serie.id}) }}" title="View details about {{ serie.name }} | seasons : {{ serie.seasons | length}}">
                <img src="{{ asset('img/posters/series/' ~ serie.poster) }}" alt="{{ serie.name }}">
            </a>

        {% endfor %}
    </section>
    <div class="flex_between flex_div">
        {% if currentPage > 1 %}
            <a href="{{ path('serie_list', {'page': currentPage - 1 }) }}" class="link_button">Previous page</a>
        {% else %}
            <div></div>
        {% endif %}
        {% if currentPage < maxPage%}
        <a href="{{ path('serie_list', {'page': currentPage + 1 }) }}" class="link_button">Next page</a>
        {% endif %}
    </div>

{% endblock %}

{% block title %}
    {# parent() récupère le contenu du bloc parent #}
    {{ parent() }} | List
{% endblock %}